@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Raleway|Zeyada&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
}


/* ------------------------special paddings/margins/text*/

h1,h2,h3,h4 {
    margin: 0;
}

/* ----------------------------------Navigation*/

.nav {
    background-color: #161819;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 75px;
}

.nav h2 {
    text-decoration: none;
    color: #84DCCF;
    letter-spacing: 4px;
  }

#logo{
    text-transform: uppercase;
    font-size: 150%;
    margin-left: 40px;
}

#menu { 
    font-size: 110%;
    list-style-type: none; 
    text-align: right; 
    margin-right: 50px;  
}

ul {
    margin-bottom: 0;
}

#menu li {
    display: inline-block;
    margin-left: 50px;
}

#menu a {
    text-decoration: none;
    color: #84DCCF;
}

#menu a:hover {
    border-bottom: 1px solid #84DCCF;
}


.active {
   border-bottom: 1px solid #84DCCF; 
}

.nohover:hover {
        text-decoration: none;
}

/* ---------------------------------------Background Images*/


.hero-image {
    width:100%;
    min-height:700px;
    background-image: url("../images/sea.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size:cover;
}


.bg-about {
  width:100%;
  min-height:700px;
  background-image: url("../images/aboutme.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size:cover;
}


.bg-projects {
  width:100%;
  min-height:700px;
  background: url("../images/lace.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
  
.bg-contact {
  background: url("../images/contact.jpg");
  width:100%;
    min-height:700px;
    background-repeat: no-repeat;
  background-position: right;
  background-size:cover;
}

/*-------------------------------------------------Welcome Page*/

#container {
position: relative;
}

.event {
    margin-top: 50px;
}

.event h1 {
    text-align: center;
    font-size: 4vw;
    word-spacing: 10px;
    
}

.welcome-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.welcome-text h1{
    color: #EF626C;
    font-family: "Zeyada", sans-serif;
    font-size: 5.5rem;
    text-shadow: 0 0 5px #161819;
}


/*--------------------------------------About Me page*/

.my-photo {
    background: url("../images/my-photo.jpg");
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#about-me-text, #about-me-text p {
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;
    color: #161819;
    margin-left: auto;
    margin-right: auto;
}

#about-me-text {
    margin-right: 50px;
    margin-top: 50px;
    background-color: rgba(255, 252, 254, 0.4);
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.who-i-am h1{
    font-family: "Zeyada", sans-serif;
    color: #EF626C;
    letter-spacing: 4px; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 500%;
    text-align: center;
    text-shadow: 0 0 5px #161819;
}


/*----------------------------------------Projects page*/

#what-i-do-text, #what-i-do-text p {
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    color: #161819;
    text-align: center;
}

.projects {
    margin-bottom: 50px;
}

#what-i-do-text {
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(247, 237, 226, .5);
    padding: 10px;
    
}

.what-i-do h1{
    font-family: "Zeyada", sans-serif;
    color: #EF626C;
    letter-spacing: 4px; 
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 5.5rem;
    text-shadow: 0 0 5px #161819;
}



/*---------------------------------------------Gallery*/


.gallery {
    margin-bottom: 30px;
    max-width: 1000px;
    text-align: center;
}


.sailboats img {
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 5%;
}


.little-boxes img {
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 5%;
}

.candle img {
    max-height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 5%;
}


.birthday img {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5%;
}


.easter-candles img {
    max-height: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 5%;
}


.cage img {
    max-height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 5%;
}


.table-deco img {
    max-width: 100%;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 5%;   
}


.gallery img:hover {
    border: 2px solid#EF626C;
}


/* ------------------------------------------Contact Page*/

.contact-me h1{
    font-family: "Zeyada", sans-serif;
    color: #EF626C;
    letter-spacing: 4px; 
    margin-top: 40px;
    font-size: 8vw;
    text-align: center;
    text-shadow: 0 0 5px #161819;
}

/*---------------------------------------Form Styling*/

form {
    padding: 10px;
    background-color: rgb(132, 220, 207, 0.4);
    border-radius: 5%;
    margin-bottom: 80px;
}


.center-form {
        padding-top: 10px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 30%;
    }

#name, #emailaddress, #yourmessage {
  margin-top: 15px;  

}

.form-button{
    margin-top: 10px;
    color: #84DCCF;
    background-color: #161819;
    opacity: 0.8;
    
}



/* ---------------------------------------Footer*/

h3 {
  font-family: "Zeyada", sans-serif; 
  color:  #84dccf;
  margin-left: 40px;
  
}

footer {
    background-color: #161819;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-links {
    margin-right: 50px;
    text-align: right;
}

.social-links li a i {
    padding-left: 15px;
    color: #84DCCF;
}

#footer-details {
    padding-top: 20px;
}


/* ---------------------------------------------------------Media Queries*/


@media screen and (max-width: 1200px){

.event h1 {
    font-size:250%;
    margin-left: 30px;
    margin-right: 30px;
}

.center-form {
    max-width: 40%;
}

#what-i-do-text {
    margin-left: 20px;
    margin-right: 20px;
}

.what-i-do h1{
    letter-spacing: 2px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
}


}

@media screen and (max-width: 992px){

#logo{
    text-align: center;
    margin-left: 0;
}

.welcome-text h1{
    font-size: 4.5rem;
    text-align: center;
}

.welcome-text{
  text-align: center;  /*--------------------------------------------correct position*/
}

.event h1 {
    text-align: center;
    font-size:250%;
    margin-left: 30px;
    margin-right: 30px;
}

.my-photo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-top: 30px;
    background-position: center;
    background-size: contain;
}


#about-me-text {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.who-i-am h1{
    letter-spacing: 2px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 4.5rem;
    text-align: center;
}

.birthday, .table-deco img {/*------------------------------fix margin img table*/
    margin-top: 40px;
}

.candle img {
    margin: 0;
}

#what-i-do-text {
    margin-top: 20px;
}

.what-i-do h1 {
   font-size: 5rem; 
   margin-top: 50px;
   margin-bottom: 0;
}

form {
    margin-bottom: 0;
}

.contact-me h1 {
    margin-bottom: 30px;
}

.center-form {
    max-width: 50%;
}


}

@media screen and (max-width: 768px){

#logo{
    font-size: 150%;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

#menu { 
    font-size: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;   
}

#logo, #menu {
    line-height: 30px;
}

#menu li {
    margin: 20px;    
}

.event {
    margin-top: 30px;
}

.event h1 {
    text-align: center;
    font-size:200%;
}

.welcome-text {
  bottom: 30px;
}

.welcome-text h1{
    font-size: 4rem;
    text-align: center;
}

h3{
  margin-left: 20px;
}
 
.social-links {
    margin-right: 20px;
}

.my-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 30px;
    background-position: center;
    background-size: contain;
}


#about-me-text {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.who-i-am h1{
    letter-spacing: 2px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 4rem;
    text-align: center;
}

#what-i-do-text {
    margin-top: 20px;
}

.what-i-do h1{
    font-size: 4.5rem;
}

 .gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}  

.contact-me h1{
    font-size: 4rem;
}

form {
    margin-bottom:0;
    margin-top: 30px;
}

.center-form {
    max-width: 80%;
}

}


@media screen and (max-width: 576px){

.hero-image, .bg-about, .bg-contact, .bg-projects {
    min-height:450px; 
} 

#what-i-do-text, #what-i-do-text p {
    letter-spacing: normal;
}

#what-i-do-text {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.what-i-do h1{
    letter-spacing: 2px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 450%;
}

.gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sailboats, .little-boxes, .birthday, .table-deco{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

 .easter-candles, .cage {
    max-height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.candle {
    max-height:30%;
    margin-left: auto;
    margin-right: auto;
}

h3{
  text-align: center; 
  margin: 0px;
}
 
.social-links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav h2 {
    letter-spacing: 2px;
}

#logo{
    font-size: 100%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

#menu { 
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;    
}

#logo, #menu {
    line-height: 30px;
}

#menu li {
    
    margin: 10px;    
}

.event {
    margin-top: 10px;
}

.event h1 {
    text-align: center;
    font-size:150%;
}

.welcome-text {
  position: absolute;
  bottom: 10px;
}

.welcome-text h1{
    font-size: 3rem;
    text-align: center;
}

.my-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    background-position: center;
    background-size: contain;
}

#about-me-text, #about-me-text p {
    letter-spacing: 1px;
}

#about-me-text {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.who-i-am h1{
    letter-spacing: 2px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 3rem;
    text-align: center;
}

.contact-me h1{
    letter-spacing: 2px; 
    margin-top: 30px;
    font-size: 3rem;
}

.center-form {
    padding-top: 5px;
    max-width: 90%;
}


}