@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Raleway|Zeyada&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

/* ------------------------special paddings/margins/text*/

h1,h2,h3,h4 {
    margin: 0;
}

/* ------------------------Navigation*/

.nav {
    background-color: #161819;
}

.nav h2 {
    text-decoration: none;
    color: #84DCCF;
    letter-spacing: 4px;
  }

#logo{
    text-transform: uppercase;
    font-size: 150%;
    margin-left: 40px;
}

#menu { 
    font-size: 110%;
    list-style-type: none;    
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 50px;    
}

#menu a {
    text-decoration: none;
    color: #84DCCF;
}

#menu a:hover {
    border-bottom: 1px solid #84DCCF;
}


.active {
   border-bottom: 1px solid #84DCCF; 
}

.nohover:hover {
        text-decoration: none;
}

/* ------------------------------Background Images*/

.hero-image {
  width:100%;
  height:auto;
  background: url("../images/8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /*background-attachment: fixed;*/
}


.bg-about {
  width:100%;
  height:auto;
  background: url("../images/aboutme.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  /*background-attachment: fixed;*/
}


.bg-projects {
  width:100%;
  height:auto;
  background: url("../images/lace.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /*background-attachment: fixed;*/
}


.bg-contact {
  width:100%;
  height:auto;
  background: url("../images/contact1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /*background-attachment: fixed;*/
}

/*----------------------------Welcome Page*/

#container {
position: relative;
}

.event {
    margin-top: 50px;
}



.welcome-text {
  position: absolute;
  bottom: 20px;
  right: 20px;}

.welcome-text h1{
    color: #EF626C;
    font-family: "Zeyada", sans-serif;
    font-size: 400%;
}
/*
#welcome-text {
    color: #ffffff;
 
    
    background-color: rgba(95, 109, 131, .7);
}*/

/*--------------------------------About Me page*/

.my-photo {
    background: url("../images/my-photo.jpg");
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

#about-me-text, #about-me-text p {
    
    letter-spacing: 4px;
    color: #161819;
}

#about-me-text {
    
    margin-right: 50px;
    margin-top: 50px;
    background-color: rgba(255, 252, 254, 0.4);
    padding: 10px;
}

.who-i-am h1{
    font-family: "Zeyada", sans-serif;
    color: #EF626C;
    letter-spacing: 4px; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 400%;
}

/*--------------------------------Projects page*/

#what-i-do-text, #what-i-do-text p {
    
    letter-spacing: 4px;
    color: #161819;
}

#what-i-do-text {
    
    margin-left: 40px;
    background-color: rgba(247, 237, 226, .5);
    padding: 10px;
}

.what-i-do h1{
    font-family: "Zeyada", sans-serif;
    color: #EF626C;
    letter-spacing: 4px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 400%;
}


/* ------------------------Footer*/

h3 {
  font-family: "Zeyada", sans-serif; 
  color:  #84DCCF;
  padding-left: 40px;
  
}

footer {
    background-color: #161819;
    margin: 0;
}

.social-links {
    margin-right: 50px;
    text-align: right;
}

.social-links li a i {
    padding-left: 15px;
    color: #84DCCF;
}

#footer-details {
    padding-top: 20px;
}
